/project/BlastZone_Windows/BlastZone_Windows/bin/
/project/BlastZone_Windows/BlastZone_Windows/obj/
/project/BlastZone_Windows/BlastZone_WindowsContent/bin/
/project/BlastZone_Windows/BlastZone_WindowsContent/obj/

/project/BlastZone_Windows/BlastZone_Windows/BlastZone_Windows.csproj.Debug.cachefile
/project/BlastZone_Windows/BlastZone_Windows/BlastZone_XBOX.csproj.Debug.cachefile
/project/BlastZone_Windows.suo
